[D-BUS Service]
Name=com.rungic.VoiceAgent
Exec=/usr/libexec/rungic-agent-start /usr/bin/rungic-voice-agent --service
SystemdService=rungic-voice-agent.service
